<header class="relative z-10 h-20 items-center">
  <div
    class="relative z-10 mx-auto flex h-full flex-col justify-center px-3 text-white"
  >
    <div class="relative flex w-full items-center pl-1 sm:ml-0 sm:pr-2">
      <div class="group relative flex h-full w-12 items-center">
        <button
          type="button"
          aria-expanded="false"
          aria-label="Toggle sidebar"
          class="text-4xl text-white focus:outline-none"
          (click)="openSidebar()"
        >
          &#8801;
        </button>
      </div>
      <div class="container relative left-0 flex w-3/4">
        <div
          class="group relative ml-8 hidden w-full items-center md:flex lg:w-72"
        >
          <div
            class="absolute flex h-10 w-auto cursor-pointer items-center justify-center p-3 pr-2 text-sm uppercase text-gray-500 sm:hidden"
          >
            <svg
              fill="none"
              class="relative h-5 w-5"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <div class="filter-container">
            <select class="filter-select" (change)="onCategoryChange($event)">
              <option value="">Todas las categorías</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
          <div class="filter-container">
            <input class="filter-date-input" type="date" (change)="onDateChange($event)">
          </div>
        </div>
      </div>
      <div
        class="relative ml-5 flex w-full items-center justify-end p-1 sm:right-auto sm:mr-0"
      >

      
        <a href="/" style="border: 2px solid transparent; background: #404e63; color: #ffffff; font-size: 18px; line-height: 25px; padding: 10px 0; text-decoration: none; text-shadow: none; border-radius: 15px; box-shadow: none; transition: 0.25s; width: 150px; display: inline-block; text-align: center;">Salir</a>

      </div>
    </div>
  </div>
</header>
